<div class="container-fluid">
    <div class="row">
      <% @articulos.each do |articulo| %>  
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="jumbotron">
              <h1><%= link_to articulo.title, articulo %></h1>
              <p><%=truncate(articulo.body, length: 200) %></p>
              <%temporal = "Categorias: "%>
              <% articulo.categories.each do |category| %>      
                  <%temporal =   "#{temporal}  #{category.name}"%>
              <%end%>      
              <p> <%= temporal%> </p>   
            </div> 
        </div>
      <% end %>
    </div>
</div>           

    
