<div class="container-fluid">
        <div class="row">
            <div class="col-md-4 red-1 col-sm-4">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat cupiditate culpa
                    aperiam distinctio inventore, saepe debitis fugiat. Reprehenderit quasi commodi non aliquam 
                    quisquam vero omnis, hic distinctio, recusandae, maxime dicta?
                </p>
            </div>
    
            <div class="col-md-3 col-sm-4">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat cupiditate culpa
                    aperiam distinctio inventore, saepe debitis fugiat. Reprehenderit quasi commodi non aliquam 
                    quisquam vero omnis, hic distinctio, recusandae, maxime dicta?
                </p>
            </div>
    
            <div class="col-md-3 col-sm-4">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat cupiditate culpa
                    aperiam distinctio inventore, saepe debitis fugiat. Reprehenderit quasi commodi non aliquam 
                    quisquam vero omnis, hic distinctio, recusandae, maxime dicta?
                </p>
            </div>
    
            <div class="col-md-2 red-1 col-sm-4">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat cupiditate culpa
                    aperiam distinctio inventore, saepe debitis fugiat. Reprehenderit quasi commodi non aliquam 
                    quisquam vero omnis, hic distinctio, recusandae, maxime dicta?
                </p>
            </div>

            <div class="col-md-4 red-1 col-sm-4">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat cupiditate culpa
                        aperiam distinctio inventore, saepe debitis fugiat. Reprehenderit quasi commodi non aliquam 
                        quisquam vero omnis, hic distinctio, recusandae, maxime dicta?
                    </p>
                </div>
        
                <div class="col-md-3 col-sm-4">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat cupiditate culpa
                        aperiam distinctio inventore, saepe debitis fugiat. Reprehenderit quasi commodi non aliquam 
                        quisquam vero omnis, hic distinctio, recusandae, maxime dicta?
                    </p>
                </div>
        
                <div class="col-md-3 col-sm-4">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat cupiditate culpa
                        aperiam distinctio inventore, saepe debitis fugiat. Reprehenderit quasi commodi non aliquam 
                        quisquam vero omnis, hic distinctio, recusandae, maxime dicta?
                    </p>
                </div>
        
                <div class="col-md-2 red-1 col-sm-4">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat cupiditate culpa
                        aperiam distinctio inventore, saepe debitis fugiat. Reprehenderit quasi commodi non aliquam 
                        quisquam vero omnis, hic distinctio, recusandae, maxime dicta?
                    </p>
                </div>
        </div>
    </div>