
<% @articulos.each do |articulo|  %>
<div class="div jumbotron">
    <h2 class="text-center">
        <%= link_to  articulo.title, articulo, class:"title-text" %>
    </h2>
    <p class="text-center"><%=articulo.body%></p>
</div>

<%end%>
 