/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";



nav{
    margin-bottom: 10px;
}


.nav-link {
    color: white !important;
}
.list-group{
    margin-bottom: 10px 
}

.red-1{
    background-color: red;
}

.space-a{
    margin-top: 15px;
}

.space-title{
    margin-top: 20px;
    margin-bottom: 40px;  

}

.jumbotronX{
    background-color: rgb(218, 216, 99);
}

.space-label-right{
   padding-right: 30px; 
}

.form-title{
    font-style: bold;
 }

.col-form-label{
    font-style: italic; 
    font-size: 18px;
 }

 
 .categories-show{
     background: yellow;
    padding-top: 10px;
    padding-bottom: 10px;

 }

 .tabla-tbody{
    background-color: rgb(153, 27, 8);
 }

 .tabla-tr{
    color: #fff !important;
 }

 .salto{
    margin-bottom: 20px
 }

 .search-title{
     font-size: 48px !important;
     color:#216892;
 }


 .search-body{
    color: #3f6fc9;
}

 .search-title:hover{
     font-size: 49px !important;
     color: black;
 }

 .search-jumbotron{
     padding-top: 13px !important;
     padding-bottom: 13ox !important;
     color: #CCFFFF !important;
 }

 .search-fondo:hover{
    background-color: #66CCFF !important;
}